<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="style/header.css">
</head>
<body>

<div class="new-navbar">

  <a href="/"> <img src="img/fcclogo.png" alt=""> </a>
  <a href="/"> <h2 style="font-size: 16px; color: 	#b8b4c7; margin-top: 7px; margin-left: 5px;">My Website</h2>  </a>

  <a href="/coin">
    <h2 style="font-size: 16px; color: #ffffff; margin-top: 7px; margin-left: 5px;">
      <span class="badge bg-success" style="color: black; margin-left: 30px;">Score</span>
      <i class="fa-solid fa-star-half-stroke" style="margin-left: 5px; color: rgb(215, 250, 255);"></i> 000
    </h2>
  </a>
  
  <a href="/myprofile" style="margin-left: 15px; text-decoration: none; filter: brightness(0);"> <img src="img/user.png" alt="" style="border: none;"> </a>
  <a href="/notification" style="margin-left: 15px; text-decoration: none;">
    <span style="margin-left: 5px; color: #ffffff;">
      <i class="fa-solid fa-bell"></i>
    </span>
  </a>
</div>


<div class="scroll-div">
  <button type="button" class="btn btn-primary" onclick="window.location.href='/'"><i class="fa-solid fa-house"></i> Home</button>
  <button type="button" class="btn  btn-primary" onclick="window.location.href='/trending'"><i class="fa-solid fa-fire"></i> Trending</button>
  <button type="button" class="btn  btn-primary" onclick="window.location.href='/today'"><i class="fa-solid fa-heart"></i> Today</button>
  <button type="button" class="btn  btn-primary" onclick="window.location.href='/jobvacancy'"><i class="fa-solid fa-users-between-lines"></i> Job & Vacancy</button>
  <button type="button" class="btn  btn-primary" onclick="window.location.href='/edunews'"><i class="fa-regular fa-newspaper"></i> Educational News</button>
  <button type="button" class="btn  btn-primary" onclick="window.location.href='/leaderboard'"><i class="fa-solid fa-people-group"></i> Leader Board</button>
  <button type="button" class="btn  btn-primary" onclick="window.location.href='/zone'"><i class="fa-solid fa-shield-halved"></i> Zone Survivors </button>
  <button type="button" class="btn  btn-primary" onclick="window.location.href='/tipstricks'"><i class="fa-regular fa-lightbulb"></i> Tips & Tricks</button>
  <button type="button" class="btn  btn-primary" onclick="window.location.href='/newupdates'"><i class="fa-solid fa-bug"></i> NEW Updates!</button>
</div>




</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/90e7e642fb.js" crossorigin="anonymous"></script>
</html>