


img {
  height: 250px;
  width: 300px;
}


Result Skip Results Iframe
EDIT ON
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  margin-top: 50px;
  margin-left: 20px;
  font-size: 40px;
  color: #000000;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}