<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attendence</title>
  <link rel="stylesheet" href="style/attendence.css">
</head>
<body>
  <h1>FCC Attendence Panel</h1>
  <h2><%= message %></h2>
</body>
</html>