<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS via CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  <!-- Your other stylesheets -->
  <link rel="stylesheet" href="style/style.css">
  <link rel="stylesheet" href="/style/explore.css">
  
  <title>Exploring PAge </title>
  <style>

  </style>
  </style>
</head>
<body>
  <!-- Include header partial -->
  <%- include('partials/header') %>
  <div class="my-zone-position">
    <h1 style="font-size: 20px; color: rgb(14, 0, 143); margin-top: 10px; margin-left: 10px;">Your Position </h1>
    <div style="background-color: rgb(160, 255, 180); width: 100%; height: 100%;">
     <h2 style="font-size: 18px; margin-left: 10px; padding-top: 10px;"> Name : Hariom Kumar </h2>
    <h4 style="font-size: 16px; margin-left: 10px;">You are in the <span class="badge bg-primary" style="color: #ffffff;"> Blue Zone</span> Now.</h4>
    <h4 style="font-size: 16px; margin-left: 10px;">Need Improvement <span class="badge bg-light" style="color: #000000;"> To Upgrade</span> Green Zone.</h4>
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
      <strong>  Complete the task  </strong> to go
      <a style="color: blue;" href="#" class="alert-link">Green zone >></a>
    </div>
    </div>
  </div> 

  <div class="blue-zone-backround">
  <h1 style="font-size: 20px; color: rgb(14, 0, 143); margin-top: 10px; margin-left: 10px;">Blue Zone Survivors</h1>


  <!-- Blue Zone -->
  <div class="zone-section">
    <button class="btn btn-primary button-blue-z" type="button" disabled style=" background-color: #0a0066; margin-bottom: 10px; margin-top: 10px;">
      <span class="spinner-grow spinner-grow-sm" aria-hidden="true" style=" background-color: #ffffff;"></span>
      <span role="status">Live...</span>
    </button>
  
     <div class="row">
      <div class="col" style="margin-left: 10px;">
    <div class="bluezone-names">
      <p style="font-size: 10px;">Hariom Kumar</p> <p style="font-size: 18px;">Arjun Kumar</p> <p style="font-size: 8px;">Vikash Kumar</p>  <p style="font-size: 16px;">Aman Kumar</p>
     </div>
      </div>
      <div class="col">
        <div class="bluezone-names">
          <p style="font-size: 16px;">Shivam Kumar</p> <p style="font-size: 12px;">Nagendra </p> <p style="font-size: 18px;">Eklavya Kumar</p>  <p style="font-size: 8px;">Kuldeep Kumar</p>
         </div>
      </div>
      <div class="col">
        <div class="bluezone-names">
          <p style="font-size: 15px;">Shyam Kumar</p> <p style="font-size: 12px;">Arjun Kumar</p> <p style="font-size: 15px;">Niraj Kumar</p>  <p style="font-size: 21px;">Sandeep Kumar</p>
         </div>
      </div>
    </div>
  </div>

  </div>

  <!-- Green Zone -->
  <div class="green-zone-section">
    <h1 style="font-size: 20px; color: rgb(255, 255, 255); margin-top: 10px; margin-left: 10px;">Green Zone Survivors</h1>
    <button class="btn btn-primary button-green-z" type="button" disabled style="background-color: #008f4c; margin-bottom: 100px;">
      <span class="spinner-grow spinner-grow-sm" aria-hidden="true" style=" background-color: #ffffff;"></span>
      <span role="status">Live...</span>
    </button>
  </div>

  <!-- Red Zone -->
  <div class="red-zone-section">
    <h1 style="font-size: 20px; color: rgb(255, 255, 255); margin-top: 10px; margin-left: 10px;">Red Zone Survivors</h1>
    <button class="btn btn-primary button-red-z" type="button" disabled style="background-color: #8f0000; margin-bottom: 100px;">
      <span class="spinner-grow spinner-grow-sm" aria-hidden="true" style=" background-color: #ffffff;"></span>
      <span role="status">Live...</span>
    </button>
  </div>

  <!-- Newbie Zone -->
  <div class="newbie-zone-section">
    <h1 style="font-size: 20px; color: rgb(255, 255, 255); margin-top: 10px; margin-left: 10px;">Newbie Survivors</h1>
    <button class="btn btn-primary button-newbie-z" type="button" disabled style=" background-color: #535856; margin-bottom: 100px;">
      <span class="spinner-grow spinner-grow-sm" aria-hidden="true" style=" background-color: #ffffff;"></span>
      <span role="status">Live...</span>
    </button>
  </div>
  <a href="/hariom" class="nav-button" style="background-color: #b9b9b9;">Aman Kumar</a>




<p class="p-test">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium dolores iusto cumque unde modi repellendus maxime. Fugiat expedita, non aut, soluta repellat eius modi minus et numquam aliquam explicabo quam!</p>
  <div class="button-container">
    <a href="/" class="nav-button"><i class="fa-solid fa-house"></i> Home</a>
    <a href="/explore" class="nav-button"><i class="fa-solid fa-location-dot"></i> Zone</a>
    <a href="/learn" class="nav-button"><i class="fa-solid fa-book-open-reader"></i> Learn</a>
    <a href="/myprofile" class="nav-button profile-btn"><i class="fa-solid fa-user"></i> Profile</a>
  </div>
  <div style="padding-bottom: 1500px;"></div>
  <!-- Include footer partial -->
  <%- include('partials/footer') %>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-nvVh8w+Ttp6aDrZSmVsbuorF6/KJemLg6usM9X1AjoDZhI3RizL1W0S2TJC3e8DH" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

<script src="https://kit.fontawesome.com/90e7e642fb.js" crossorigin="anonymous"></script>
</html>
