<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- head content... -->
  <title>Home Page </title>
  <link rel="stylesheet" href="/style/style.css">
  <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
  <!-- Include header partial -->
  <%- include('partials/header') %>

  <!-- Home page bux section  -->

  <div class="container text-center box-section">
    <div class="row">
      <div class="col">
        <img src="img/ab-test.gif" alt=""> <br>
        Quiz
      </div>
      <div class="col">
        <img src="img/report.gif" alt=""> <br>
        FCC Report
      </div>
      <div class="col">
        <img src="img/math.gif" alt=""> <br>
        Tips & Tricks
      </div>
    </div>
  </div>

  <div class="container text-center box-section">
    <div class="row">
      <div class="col" style="border: 1px solid #dfdfdf; ">
        <img src="img/compass.gif" alt=""> <br>
        MY Zone
      </div>
      <div class="col">
        <img src="img/podium.gif" alt=""> <br>
        Leader Board
      </div>
      <div class="col">
        <img src="img/change.gif" alt=""> <br>
         Challange
      </div>
    </div>
  </div>

  <div class="container text-center box-section">
    <div class="row">
      <div class="col">
        <img src="img/ratings.gif" alt=""> <br>
        My Rank <span class="badge text-bg-warning">offline</span>
      </div>
      <div class="col">
        <img src="img/hashtags.gif" alt=""> <br>
        Trending <span class="badge text-bg-success">Recent</span>
      </div>
      <div class="col" style="border: 1px solid #dfdfdf;">
        <img src="img/confetti.gif" alt=""> <br>
        FCC Events <span class="badge text-bg-danger">Popular</span>
      </div>
    </div>
  </div>

<!-- New Swctions ADding  --
  


  <!-- Home page section END -->

  <div class="card" aria-hidden="true" style="margin-top: 20px;">
    <div class="card-body">
      <h5 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h5>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-7"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-6"></span>
        <span class="placeholder col-8"></span>
      </p>
      <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
    </div>
  </div>

<span style="margin-left: 10px;" class="placeholder col-6"></span>
<span style="margin-left: 10px;" class="placeholder w-75"></span>
<span style="margin-left: 10px;" class="placeholder" style="width: 25%;"></span>



      <div class="button-nav">
      <!-- <img src="img/fcclogo.png" alt="" style="height: 25px;"> -->
      <a href="/" style="color: #ffffff; margin-right: 5px;"><i class="fa-solid" style="margin-left: 30px; color: #ffffff; margin-left: 5px;"> Home</i>  </a>
      <a href="/zone" style="color: #ffffff; "><i class="fa-solid fa-location-dot"  style="color: #ffffff; margin-right: 5px;"></i>Zone </a>
      <a href="/learn" style="color: #ffffff; "><i class="fa-solid fa-book"  style="color: #ffffff; margin-right: 5px;"></i>Learn </a>
      <a href="/myprofile" style="color: #ffffff; "><i class="fa-solid fa-user"  style="color: #ffffff; margin-right: 5px;"></i>Profile </a>
      </div>

    <div style="margin-bottom: 500px;">
    </div>
  

  <div style="padding-bottom: 1500px;"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-nvVh8w+Ttp6aDrZSmVsbuorF6/KJemLg6usM9X1AjoDZhI3RizL1W0S2TJC3e8DH" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/90e7e642fb.js" crossorigin="anonymous"></script>
<script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</html>
