<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/style/myprofile.css">
  <link rel="stylesheet" href="/style/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>My Profile </title>
</head>
<body>
  <!-- Include header partial -->
  <a%- include('partials/header') %>

  <!-- <h1>Hello, <%= user && user.name %>!</h1>
  <p>Email: <%= user && user.email %></p> -->
  <!-- Other profile details go here -->



  <div class="profile-backround">

  </div>
<!-- 
  <img class="my-dp" src="img/hariom.jpg" alt="" style="margin-left: 40px; margin-top: -20px;">
  <img src="img/check.png" alt="">
  <h1 style="margin-left: 35px; margin-top: 5px;">Hariom Kumar</h1>

  <div class="rating">
    <h2>Rating</h2>
    5/3.2 
  </div> -->

  <div class="my-achivement">
    <img src="img/trophy.svg" alt=""> <h2>My Achivement</h2> 
<button>Test Ranker <a href="#" class="badge badge-success">0</a></button>
<button>10 Day Striker <a href="#" class="badge badge-success">0</a></button>
<button>Quiz King <a href="#" class="badge badge-success">0</a></button>
<button>Best Zone Survivor <a href="#" class="badge badge-success">0</a></button>
<button>Leader-Board Hunter <a href="#" class="badge badge-success">0</a></button>
  </div>

  <div id="box" class="today">
      <h1 style="color: #7a7a7a ; font-size: 18px; margin-left: 10px; padding-top: 10px;">Today</h1>
      <h2 style="color: #7a7a7a;">Daily Target &#9746;</h2>
      <h2 style="color: #7a7a7a;">FCC Group Study &#10004;</h2
      <span> </span>
      <h2  style="color: #7a7a7a;">Group Discuss &#10004;</h2>
      <h2 style="color: #7a7a7a;">Full Attendence &#9746; </h2>
  </div>

  <div id="box" class="sevenday-section">
    <h1 style="color: #7a7a7a; font-size: 18px; margin-left: 10px; padding-top: 10px;">Previous  7 Day Activity</h1>
    <h2 style="color: #7a7a7a;">Attendence</h2>
    <h2 style="color: #7a7a7a(0, 0, 0);">00 Day Attende, <span style="color: #7a7a7a;">00 Day Gap</span></h2>

    <h2 style="color: #7a7a7a;">Quiz/Test</h2>
    <h2 style="color: #7a7a7a;">+00% XX Accuracy </h2>
  </div>

  <div id="box" class="sevenday-section">
    <h1 style="color: #7a7a7a; font-size: 18px; margin-left: 10px; padding-top: 10px;">Zone View</h1>
    <h2 style="color: #7a7a7a;">My Zone</h2>
    <h2 style="color: #7a7a7a(0, 0, 0);"><a href="#" class="badge badge-primary">00</a></h2>

    <h2 style="color: #7a7a7a;">Upgrade <a href="#" class="badge badge-success">00</a></h2>
    <h2 style="color: #7a7a7a;">Complete Task >></h2>
  </div>

  <div id="box" class="sevenday-section">
    <h1 style="color: #7a7a7a; font-size: 18px; margin-left: 10px; padding-top: 10px;">Leader Board</h1>
    <h2 style="color: #7a7a7a;">My Position</h2>
    <h2 style="color: #7a7a7a(0, 0, 0);">All Over | <a href="#" class="badge badge-primary">00</a></h2>

    <h2 style="color: #7a7a7a;">in My Class | <a href="#" class="badge badge-success">00</a></h2>
    <h2 style="color: #7a7a7a;"> to Upgrade > <a href="#" class="badge badge-dark">New Position</a>
    </h2>
  </div>

  <div>
    Click to Direct your current data :
    <button style="margin-top: 10px;">Arjun Kumar <a href="/arjun" class="badge badge-success">View Details</a></button>
    <button style="margin-top: 10px;">Chhathu Kumar <a href="#" class="badge badge-success">View Details</a></button>
    <button style="margin-top: 10px;">Ranjeet Kumar <a href="#" class="badge badge-success">View Details</a></button>
    <button style="margin-top: 10px;">Manish Kumar <a href="#" class="badge badge-success">View Details</a></button>
    <button style="margin-top: 10px;">Pawan Kumar <a href="#" class="badge badge-success">View Details</a></button>
    <button style="margin-top: 10px;">Nagendra Kumar <a href="#" class="badge badge-success">View Details</a></button>
    <button style="margin-top: 10px;">Shyam Kumar <a href="#" class="badge badge-success">View Details</a></button>
    <button style="margin-top: 10px;">Pappu Kumar <a href="#" class="badge badge-success">View Details</a></button>
    <button style="margin-top: 10px;">Vikash Kumar <a href="#" class="badge badge-success">View Details</a></button>
    <button style="margin-top: 10px;">Shani Kumar <a href="#" class="badge badge-success">View Details</a></button>
  </div>

 <br>
 <br>
  <button> <a href="/register"> Register Now </a> </button>
  <button> <a href="/login"> Log-in </a> </button>
    
  <div style="padding-bottom: 1500px;"></div>
    <!-- Include footer partial -->
    <%- include('partials/footer') %>
</body>
</html>


        

<div class="button-nav">
  <!-- <img src="img/fcclogo.png" alt="" style="height: 25px;"> -->
  <a href="/" ><i class="fa-solid fa-house" style="margin-left: 30px; color: #ffffff; margin-left: 5px;"></i>Home</a>
  <a href="/zone" style="color: #ffffff; "><i class="fa-solid fa-location-dot"  style="color: #ffffff; margin-right: 5px;"></i>Zone </a>
  <a href="/learn" style="color: #ffffff; "><i class="fa-solid fa-book"  style="color: #ffffff; margin-right: 5px;"></i> Learn</a>
  <a href="/myprofile" style="color: #ffffff; "><i class="fa-solid fa-user"  style="color: #ffffff; margin-right: 5px;"> Me</i> </a>
  </div>

</body>

<script>
  
// Assuming you have a route like this
app.get('/myprofile', (req, res) => {
    // Get the user object from wherever it's stored (e.g., from the session)
    const user = req.session.user;

    // Render the myprofile page and pass the user object
    res.render('myprofile', { user: user });
});


const session = require('express-session');
app.use(session({
    secret: 'your-secret-key-here',
    resave: false,
    saveUninitialized: false
}));



</script>
<script src="https://kit.fontawesome.com/90e7e642fb.js" crossorigin="anonymous"></script>
</html>
