<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style/dashrath-bin.css">
  <title>Parents Page</title>
</head>
<body>
  <h1>Welcome to Parents Page "Your welcome" </h1>
  <p> Your son is Hariom Kumar</p>

  <!-- Add your specific content for Hariom Kumar -->

  <div class="back-link">
    <a href="/">Back to Home</a>
  </div>
</body>
</html>
